* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgba(123, 135, 157, 0.2)
}

#container {
    position: relative;
    width: 340px;
    left: 40%;
    top: 200px;
    text-align: center;
    padding: 8px;
    background-color: white;
    border-radius: 8px;

}

#container img {
    border-radius: 8px;
}

#text {
    padding: 4px;
}